# Exported functions
export(anova.grm, anova.gpcm, anova.ltm, anova.rasch, anova.tpm, biserial.cor, coef.grm, coef.gpcm, coef.ltm, coef.rasch, coef.tpm, 
	 cronbach.alpha, descript, factor.scores, factor.scores.grm, factor.scores.gpcm, factor.scores.ltm, factor.scores.rasch, 
	 factor.scores.tpm, fitted.grm, fitted.gpcm, fitted.ltm, fitted.rasch, fitted.tpm, GoF.rasch, GoF.gpcm, grm, gpcm, information, item.fit, ltm, 
	 margins, margins.grm, margins.ltm, margins.rasch, margins.tpm, mult.choice, person.fit, plot.descript, 
	 plot.fscores, plot.grm, plot.gpcm, plot.ltm, plot.rasch, plot.tpm, rasch, rcor.test, residuals.grm, residuals.gpcm, residuals.ltm, 
	 residuals.rasch, residuals.tpm, rmvlogis, rmvordlogis, summary.grm, summary.gpcm, summary.ltm, summary.rasch, summary.tpm, testEquatingData, 
	 tpm, unidimTest, vcov.grm, vcov.gpcm, vcov.ltm, vcov.rasch, vcov.tpm)

# Imported functions
importFrom("MASS", mvrnorm, ginv)
importFrom("msm", deltamethod)
importFrom("polycor", polychor)
importFrom("grDevices", "palette")
importFrom("graphics", "abline", "lines", "matplot", "par", "persp",
             "plot", "points", "stripchart", "text")
importFrom("stats", "AIC", "as.formula", "binomial", "chisq.test",
           "complete.cases", "cor", "cor.test", "dbinom", "density",
           "dnorm", "glm", "glm.fit", "integrate", "median",
           "model.matrix", "na.exclude", "nlminb", "optim", "pchisq",
           "plogis", "pnorm", "ppoints", "qchisq", "qlogis",
           "quantile", "rbinom", "resid", "rlnorm", "rlogis", "rnorm",
           "runif", "sd", "terms", "update", "var",
           "anova", "coef", "fitted", "logLik", "residuals", "simulate", "vcov")
importFrom("utils", "combn", "tail")

# S3 methods
S3method(anova, gpcm)
S3method(anova, grm)
S3method(anova, ltm)
S3method(anova, rasch)
S3method(anova, tpm)
S3method(coef, gpcm)
S3method(coef, grm)
S3method(coef, ltm)
S3method(coef, rasch)
S3method(coef, tpm)
S3method(factor.scores, gpcm)
S3method(factor.scores, grm)
S3method(factor.scores, ltm)
S3method(factor.scores, rasch)
S3method(factor.scores, tpm)
S3method(fitted, gpcm)
S3method(fitted, grm)
S3method(fitted, ltm)
S3method(fitted, rasch)
S3method(fitted, tpm)
S3method(IRT.parm, grm)
S3method(IRT.parm, ltm)
S3method(IRT.parm, rasch)
S3method(IRT.parm, tpm)
S3method(logLik, gpcm)
S3method(logLik, grm)
S3method(logLik, ltm)
S3method(logLik, rasch)
S3method(logLik, tpm)
S3method(margins, gpcm)
S3method(margins, grm)
S3method(margins, ltm)
S3method(margins, rasch)
S3method(margins, tpm)
S3method(plot, aov.gpcm)
S3method(plot, descript)
S3method(plot, fscores)
S3method(plot, gpcm)
S3method(plot, grm)
S3method(plot, ltm)
S3method(plot, rasch)
S3method(plot, tpm)
S3method(plot, unidimTest)
S3method(print, aov.gpcm)
S3method(print, aov.grm)
S3method(print, aov.ltm)
S3method(print, aov.rasch)
S3method(print, aov.tpm)
S3method(print, cronbachAlpha)
S3method(print, descript)
S3method(print, fscores)
S3method(print, GoF.rasch)
S3method(print, GoF.gpcm)
S3method(print, gpcm)
S3method(print, grm)
S3method(print, information)
S3method(print, itemFit)
S3method(print, ltm)
S3method(print, margins.gpcm)
S3method(print, margins.grm)
S3method(print, margins.ltm)
S3method(print, persFit)
S3method(print, rasch)
S3method(print, rcor.test)
S3method(print, summ.gpcm)
S3method(print, summ.grm)
S3method(print, summ.ltm)
S3method(print, summ.rasch)
S3method(print, summ.tpm)
S3method(print, tpm)
S3method(print, unidimTest)
S3method(residuals, gpcm)
S3method(residuals, grm)
S3method(residuals, ltm)
S3method(residuals, rasch)
S3method(residuals, tpm)
S3method(simulate, gpcm)
S3method(simulate, grm)
S3method(simulate, gpcm)
S3method(summary, gpcm)
S3method(summary, grm)
S3method(summary, ltm)
S3method(summary, tpm)
S3method(summary, rasch)
S3method(vcov, gpcm)
S3method(vcov, grm)
S3method(vcov, ltm)
S3method(vcov, rasch)
S3method(vcov, tpm)